---
layout: archive
title: "Applied Data Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p class="projects-intro">Selected applied analyses completed in collaboration with research and community partners. These entries are concise project summaries rather than links to public deliverables.</p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

{% for post in site.portfolio_md %}
  {% include archive-single.html %}
{% endfor %}
